.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin: 1% 30%;
    height: 450px;
    width: 50%;
    padding: 10px 10px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 25px ;
}
